h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.figures-container {
}

.figure-set {
  display: inline-block;
}

.figure {
  width: 49vw;
}

.figure-error {
  vertical-align: top;
}

.source-form {
  width: 80%;
  margin: auto;
}

.input-field {
  width: 100%;
}

.upload-zone {
  height: 60px;
  text-align: center;
  margin: 10px;
}

.checkbox-container {
  width: 80%;
  margin: auto;
  column-count: 4;
  font-size: 1em;
}

.custom-checkbox {
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
  margin: 5px;
}
