h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.figures-container {
}

.figure-set-container {
  display: flex;
  flex-wrap: wrap;
}

.figure {
  width: 49vw;
}

@media screen and (min-width: 1400px) {
  .figure {
    width: 32vw;
  }
}

.figure-error {
}

.source-form {
  width: 80%;
  margin: auto;
}

.input-field {
  width: 100%;
}

.upload-zone {
  height: 60px;
  text-align: center;
  margin: 10px;
}

.checkbox-container {
  width: 80%;
  margin: auto;
  column-count: 4;
  font-size: 1em;
}

.custom-checkbox {
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
  margin: 5px;
}

.clear-cache-button {
  float: right;
  opacity: 0.5;
}
